.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 88px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin: 0 auto;

  display: block;

  margin: 0 auto;
  padding: 0px 20px;

  @media (min-width: 768px) {
    padding: 0px 30px;
  }

  @media (min-width: 1280px) {
    padding: 0px 30px;
  }

  &.fixed {
    background-color: #fff;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px;
  max-width: 440px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 708px;
    padding: 36px 0px;
  }
  @media (min-width: 1280px) {
    max-width: 1220px;
    padding: 24px 0px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.burger {
  display: flex;
  padding: 12px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  background: #dcefd8;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover,
  &:focus {
    background: #97d28b;
  }
}

.button {
  @media (min-width: 768px) {
    margin-left: 12px;
    justify-content: center;
    align-items: center;
  }
}

// modal__menu

.backdrop {
  position: fixed;
  top: 0;
  right: -200%;
  width: 100vw;
  height: 100vh;
  background: rgba(23, 61, 51, 0.25);
  backdrop-filter: blur(2px);
  z-index: 200;
  transition: all 0.3s ease;

  &.active {
    right: 0;
  }
}



.menu__container {
  z-index: 210;
  position: absolute;
  right: -200%;
  top: 0;
  height: 100vh;
  padding: 24px 0px;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  transition: all 0.3s ease;


  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    max-width: 708px;
    width: 365px;
    height: 873px;
    padding: 36px 0px;
  }
  @media (min-width: 1280px) {
    max-width: 1220px;
    padding: 24px 0px;
  }
}
.menu {
  height: calc(100vh - 76px);
  z-index: 110;
  height: 100%;
  border-radius: 25px;
  background: rgba(23, 61, 51, 0.75);
  backdrop-filter: blur(12.5px);
  transition: background-color 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 28px 19px;

  @media (min-width: 768px) {
    margin: -76px 0px -76px auto;
    width: 320px;
  }

  @media (min-width: 1280px) {
    width: 365px;
  }
}

.menu__container.active {
right: 0;
}

.cros__button {
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  stroke: #fff;
  color: #fff;

  transition: all 0.3s ease;

  & p {
    color: inherit;
    font-family: Fira Sans;
    font-size: 20px;
    letter-spacing: -0.8px;
    margin-left: 4px;

    & svg {
      stroke: inherit;
    }
  }

  &:hover,
  &:focus {
    color: #97d28b;
    stroke: #97d28b;
  }
}

.menu__list {
  margin-top: 24px;
}

.menu__link {
  color: #fff;
  stroke: #fff;
  font-size: 24px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  cursor:pointer;

  display: block;
  margin-bottom: 8px;

  &:hover {
    color: #97d28b;
    stroke: #97d28b;
  }

  & svg {
    stroke: inherit;
    margin-left: 8px;
  }
}

.social__link {
  stroke: #fff;
  margin-right: 8px;

  &:hover {
    stroke: #97d28b;
  }
}
